*

!.gitignore

!README.md
!LICENSE.md

!assets
!assets/*
!assets/*/*
!assets/*/*/*

!.vscode
!.vscode/*

!options
!options/*
!options/*/*

options/trusted-paths.xml
options/trustedSolutions.xml
options/actionSummary.xml
options/contributorSummary.xml
options/features.usage.statistics.xml
options/github.xml
options/gitlab.xml
options/jdk.table.xml
options/nodejs.xml
options/other.xml
options/recentProjects.xml
options/updates.xml
options/window.state.xml
options/recentSolutionsConfiguration.xml
options/recentSolutions.xml

!bundled_plugins.txt

!early-access-registry.txt

!rider64.exe.vmoptions
